---
title: BGS Public School Blog
layout: 'base.njk'
---
      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Welcome to the blog of BGS Public Schoool!</h1>
        <p>Here we upload blogs about our school and the events held in the school</p>
        <p>so you can learn and know what is happening in BGS Public School</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          <a href="./blog" class="btn btn--neutral">Most recent articles</a>
        </div>
      </div>
      <div>
        <img src="//unsplash.it/510" alt="" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">Here are some of the eye catching articles</p>
    <ul role="list" class="articles__list flow">

      {%- for post in collections.featured | reverse -%}
      {% include 'article-snippet.njk' %}
      {%- endfor %}
    
    </ul>
  </div>
</section> 

<iframe width="560" height="315" src="https://www.youtube.com/embed/jK8t7B6T_Kk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/jK8t7B6T_Kk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/jK8t7B6T_Kk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



